<!DOCTYPE HTML>
<html lang= "pl">
    {% block head %}
    <head>
        <meta charset = "utf-8">
        <title>Moja pierwsza strona</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">
    </head>
    {% endblock %}
    <body>
        {% block intro %}
        <h1 class = "intro">Witaj na mojej stronie</h1>
        <img src = "{{url_for('static', filename = 'avatar.jpg')}}" alt = "mój avatar" title = "ja"></img>
        {% endblock %}
        {% block content %}
        <ol>
            <li><h2>O mnie: </h2></li>
            <p><strong> Imię: </strong>Dorota</p>
            <p><strong> Nazwisko: </strong>Krygowska</p>
            <li><h2><a href = "./kontakt">Kontakt: </a></h2></li>
        </ol>
        {% endblock %}
    </body>
</html>