<!DOCTYPE HTML>
<html lang= "pl">
    <head>
        {% extends "index.html" %}
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block intro %}
        {% endblock %}
        <h2>Kontakt:</h2>
        <h3>Wyślij wiadomość:</h3>
        <ul>
            <li><strong>email:</strong>dorota.krygowska@gmail.com</li>
            <li><strong>telefon: </strong>123456789</li>
        </ul>
    <form>
        <textarea rows = "4" cols = "50">
        </textarea>
        <input type= "submit">
    <h2><a href = "./index.html">Powrót </a></h2>
    </form>
    </body>
</html>